body{
    background-image: linear-gradient(#8b8572,#ffffff); 
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.input-style{
    margin: 10px 0px
}
table{
    width: 50%;
    margin: 30px auto;
    text-align: left
}
.addAnimal{
    padding:10px;
    font-size: 15px;
    color: white;
    background: #5f9ea0;
    border: navy;
    border-radius: 3px;
}
.banner{
    width: auto;
    height: auto;
}

h1{
    font-family: cursive;
    text-align: center
}

form{
    /* background-color: rgba(172, 146, 113, 0.349); */
    margin: 10px 0px;
}

.top{
    opacity: 0.5;
    width: 100%;
    align-content: center;
}

.jumbotron{
    background: url('img/bg.jpg') no-repeat center center fixed;
}
#carouselExampleIndicators{
    text-align: center;
    align-self: center;
    height: auto;
    width: 55%;
    margin: auto;
}
